.Room2{
    position: relative;
    top:70px;
    width: 50%;
    height: 400px;
    background-color: rgb(135, 205, 235);
}
.Room2__서랍{
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 90px;
    height: 80px;
    background-color:rgb(135, 80, 20);
    border-top: 5px solid rgb(100, 60, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Room2__서랍 div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    width: 70px;
    height: 30px;
    background-color:burlywood;
}
.Room2__서랍 div span{
    border-radius: 5px;
    width: 20px;
    height: 5px;
    background-color:rgb(100, 60, 15);
}
.Room2__금고{
    position: absolute;
    left: 17.5px;
    bottom: 85px;
    width: 70px;
    height: 45px;
    background-color:  rgb(255,225,135);
    border: 3px solid rgb(180, 145, 35);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Room2__금고 span{
    width: 20px;
    height: 10px;
    background-color:  rgb(180, 145, 35);
    border-radius: 5px;
}
.Room2__금고 div{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    background-color:  rgb(180, 145, 35);
    border: 2px solid  rgb(145, 118, 28);
}
.Room2__sofa--down{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 150px;
    bottom: 0px;
    width: 240px;
    height: 50px;
    background-color:rgb(200, 95, 60);
    border-radius: 5px;
}
.Room2__sofa--up{
    position: absolute;
    bottom: 30px;
    width: 160px;
    height: 80px;
    background-color: burlywood;
    border-radius: 8px;
    border-top: 2px solid rgb(100, 60, 15);
    border-left: 2px solid rgb(100, 60, 15);
    border-right: 2px solid rgb(100, 60, 15);
    border-bottom: 15px solid rgb(135, 80, 20);
}
.Room2__sofa--side{
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 40px;
    top: 44px;
    width: 240px;
}
.Room2__sofa--side div{
    width: 45px;
    height: 80px;
    background-color:rgb(200, 120, 90);
    border-radius: 5px;
}
.Room2__전등{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 40px;
}
.전등__stick{
    width: 3px;
    height: 100px;
    background-color: rgb(100, 60, 15);
}
.전등__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.전등__inner div{
    height: 10px;
    background-color: rgb(225, 160, 80);
    
}
.전등__inner div:nth-child(1){
    width: 40px;
    border-radius: 5px;
}
.전등__inner div:nth-child(2){
    width: 40px;
}
.전등__inner div:nth-child(3){
    width: 60px;
}
.전등__inner div:nth-child(4){
    width: 60px;
}
.전등__inner div:nth-child(5){
    width: 80px;
}
.전등__inner div:nth-child(6){
    width: 30px;
    height: 10px;
    border-radius: 2px;
    background-color: beige;
}
.전등__side{
    display: flex;
    justify-content: space-between;
    width: 60px;
}
.전등__side div{
    padding: 0px 5px;
    position: relative;
    bottom: 60px;
    width: 10px;
    height: 50px;
    background-color: rgb(225, 160, 80);
    border-radius: 5px;
   
}
.전등__side div:first-child{
    rotate: 30deg;
}
.전등__side div:last-child{
    rotate: -30deg;
}

.electronic-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 75%;
    
    width: 100px;
    height: 60px;
    border: 3px solid gray;
    background-color: gainsboro;
    
}
.electronic-board__switch--color{
    width: 50px;
    display: flex;
    justify-content: space-between;
}
.electronic-board__switch--color span{
    margin-top: 15px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.electronic-board__switch--color span:nth-child(1){
    background-color: rgb(65, 195, 40);
}
.electronic-board__switch--color span:nth-child(2){
    background-color: rgb(45, 200, 255);
}
.electronic-board__switch--color span:nth-child(3){
    background-color:violet;
}
.electronic-board__switch--color span:nth-child(4){
    background-color:brown;
}
.electronic-board__switch--color span:nth-child(5){
    background-color: orange;
}
.electronic-board__switch{
    width: 50px;
    display: flex;
    justify-content: space-between;
}
.electronic-board__switch span{
    margin-top: 5px;
    width: 5px;
    height: 8px;
    border: 1px solid gray;
    background-color:ghostwhite;
}
.electronic-board__btn{
    margin-top: 5px;
    width: 30px;
    height: 8px;
    background-color:gray;
    border: 1px solid black;
    border-radius: 3px;
}
.Room2__TV--전선{
    position: absolute;
    bottom: 150px;
    right: 0%;
    height: 10px;
    width: 53px;
    background-color: rgba(0, 0, 0, 0.7);
}