@import "screen/Room1.css";
@import "screen/Room2.css";
@import "div&item/clickDiv.css";
@import "div&item/item-bar.css";
@import "variable.css";

.hidden{
    display: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagebtn{
    position: relative;
    bottom: 100px;
    width: 30px;
    height: 30px;
    font-size: 45px;
    font-weight: 900;
    cursor: pointer;
}
.leftPage{
    left: -400px;
}
.rightPage{
    left: 400px;
    
}
.input{
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 25px;
}
.h3{
    position: relative;
    font-size: 15px;
    bottom: 32px;
}



