:root{
    --brown: rgb(100, 60, 15);
    --bgColor: rgb(135, 205, 235);
    --redBrown: rgb(120, 40, 20);
    --lightBrown: rgb(180, 145, 35);
    --black0700: rgba(0,0,0,0.7);
    --gray80: rgb(80, 80, 80);
}