.item-bar{
    position: relative;
    top: 50px;
    width: 800px;
    height: 90px;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}
.item-bar__title{
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 12.5px 0px 0px 12.5px;
    border: 3px solid rgb(210, 210, 210);
    padding: 10px;
    border-radius: 5px;
}
.imgItem{
    margin-left: 130px;
    margin-top: 8px;
}
.item__IMG{
    width: 200px;
    height: 200px;
    margin: 10px;
}

.imgItem-sizing{
    width: 75px;
    height: 75px;
}
